body{
	padding: 0;
	margin: 0;
}

header{
	position: relative;
	height: 100px;
	font-family: monospace;
	font-size: 20px;
	background-color: cyan;
	box-shadow: 2px 2px 4px #000000;
}


.navitems{
	position: absolute;
	top: 32px;
	left: 180px;
}


.mid{
	position: relative;
	height: 250px;
	font-size: 32px;
	top: 120px;
	font-family: courier new;
}

.intro{
	position: absolute;
	left: 200px;
}

.thought{
	position: absolute;
	left: 1200px;
	top: 65px;
	font-family: cursive;
	font-size: 55px;
	text-shadow: 2px 2px 8px #000000;
}



footer{
	position: relative;
	top: 280px;
	height: 150px;
}

.socialmedia{
	position: absolute;
	top: 55px;
	left: 800px;
}

img{
	height: 45px;
	width: 45px;
}
